# Casper Testnet
CASPER_NODE_URL=https://node.testnet.cspr.cloud/rpc
CASPER_NETWORK=casper-test
CASPER_SECRET_KEY=../.keys/casper/secret_key.pem
TRIBUNAL_CONTRACT_HASH=
CSPR_CLOUD_KEY=

# GenLayer (reuse your existing deployer setup)
GENLAYER_CHAIN=studionet
GENLAYER_ENDPOINT=
GENLAYER_DEPLOYER_PRIVATE_KEY=
